# Exercises Unit 3: Tabular Data
### Coding Fundamentals for PhD Students

__Exercise 1__

Load the `ip.csv` dataset from the lecture and repeat the code to transform it into a long format. Then set the date column to be the index (hint: have a look at `df.set_index("somecolumnname")`).

a) Select the 1st of April 2019 and the 1st of April 2020 for all countries using `loc` (dates should now be in the row index).

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Load the data
df1_original = pd.read_csv("data/tabular_data/ip.csv")

# Reshape wide to long
df1 = df1_original.melt(
    id_vars=["country"],
    value_vars=df1_original.columns[1:],
    var_name="date",
    value_name="ip",
)

# Transform resulting date to datetime and sort according to country and date
df1["date"] = pd.to_datetime(df1["date"], format="%d.%m.%Y")
df1 = df1.sort_values(by=["country", "date"])
df1 = df1.set_index("date")

In [3]:
df1.loc[["2019-04-01", "2020-04-01"]]

            country        ip
date
2019-04-01   france   0.52124
2019-04-01  germany  -2.58373
2019-04-01    italy  -0.75614
2019-04-01    spain   1.57392
2019-04-01       uk  -3.08582
2019-04-01       us  -0.63119
2020-04-01   france -20.60136
2020-04-01  germany -21.17517
2020-04-01    italy -20.48193
2020-04-01    spain -22.10104
2020-04-01       uk -20.41667
2020-04-01       us -12.92942

b) Add another column to the data frame called `ip_av` in which you store the absolute value, i.e. $|x|$, of the column `ip`.

In [86]:
df1["ip_av"] = df1["ip"].abs()

c) Add a second column to the data frame called `ip_pos` and store only those values in it where the percentage change in industrial production `ip` is positive (the column `ip_pos` will contain NA values for all observations with negative percentage changes in industrial production).

In [87]:
df1["ip_pos"] = df1["ip"].apply(lambda x: x if x > 0 else None)

In [88]:
df1.head()

           country       ip    ip_av   ip_pos
date
2019-01-01  france  0.97331  0.97331  0.97331
2019-02-01  france -0.49628  0.49628      NaN
2019-03-01  france -0.63303  0.63303      NaN
2019-04-01  france  0.52124  0.52124  0.52124
2019-05-01  france  1.64202  1.64202  1.64202

d) Compute the mean change in industrial production for each country.

In [92]:
df1[["country", "ip"]].groupby("country").apply("mean")

               ip
country
france  -0.336408
germany -0.800372
italy    0.006012
spain   -0.363430
uk      -0.577619
us      -0.370198

e) Add a third column `ip_demeaned` which subtracts the mean change in industrial production of each country from its values.

In [94]:
df1["ip_demeaned"] = df1["ip"] - df1.groupby("country")["ip"].transform("mean")

In [80]:
df1.head()

           country       ip    ip_av   ip_pos  ip_demeaned
date
2019-01-01  france  0.97331  0.97331  0.97331     1.309718
2019-02-01  france -0.49628  0.49628      NaN    -0.159872
2019-03-01  france -0.63303  0.63303      NaN    -0.296622
2019-04-01  france  0.52124  0.52124  0.52124     0.857648
2019-05-01  france  1.64202  1.64202  1.64202     1.978428

__Exercise 2__

Read some data from your research into Python with pandas using functions such as `pd.read_csv` or `pd.read_stata` (for many further options such `pd.read_excel`, see the following part of the library's [documentation](https://pandas.pydata.org/docs/reference/io.html)).

Try to replicate some data cleaning, transformation, or summary statistic that you had previously computed with another software. What seems easier, what more difficult in pandas?

In [ ]:
# Your code here